In [1]:
import pandas as pd
import re

In [2]:
#load listing dataset
listings_cols = ['list_id', 'list_rating', 'list_review_n', 'list_loc', 'time_accessed']
listings = pd.read_csv('./tripadvisor_selenium/saved_data_versions/version_20180804_0900/listings.csv',
            delimiter='|', names=listings_cols, header=None)
listings

,list_id,list_rating,list_review_n,list_loc,time_accessed
0,g60763d267031,5 of 5 bubbles,"18,668",Midtown,2018-08-03 20:32:58.677018
1,g60763d105127,4.5 of 5 bubbles,"117,381","Manhattan Borough, from Central Park West to 5...",2018-08-04 00:27:15.928556
2,g60763d105125,5 of 5 bubbles,"49,270",1000 5th Ave,2018-08-04 00:57:53.780977
3,g60763d1687489,4.5 of 5 bubbles,"81,439",World Trade Center,2018-08-04 06:53:59.712365
4,g60763d102741,4.5 of 5 bubbles,"18,244",Financial District,2018-08-04 07:38:42.501175
5,g60763d143361,4.5 of 5 bubbles,"26,670",Midtown,2018-08-04 08:00:55.542494
6,g60763d501513,4.5 of 5 bubbles,589,and Madison and Fifth Avenues,2018-08-04 08:25:36.053709

In [3]:
#define a function to turn text ratings into numerical
def float_rating(rating_text):
    return float(rating_text.split(" ")[0])

float_rating('4.5 of 5 bubbles')

4.5

In [38]:
#define a function to turn review_n text into an integer
def int_review_n(review_n_text):
    return int(review_n_text.split(' ')[0].replace(',', ''))

int_review_n('117,356 Reviews')

117356

In [39]:
#update the fields in the table using the specified functions
listings.list_rating = listings.list_rating.apply(float_rating)
listings.list_review_n = listings.list_review_n.apply(int_review_n)
listings.head()

,list_id,list_rating,list_review_n,list_loc,time_accessed
0,g60763d267031,5.0,18666,Midtown,2018-08-03 11:39:58.033622
1,g60763d105127,4.5,117356,"Manhattan Borough, from Central Park West to 5...",2018-08-03 11:41:47.734294
2,g60763d105125,5.0,49264,1000 5th Ave,2018-08-03 11:43:38.020506
3,g60763d1687489,4.5,81419,World Trade Center,2018-08-03 11:46:31.316344
4,g60763d102741,4.5,18235,Financial District,2018-08-03 11:48:18.505299

In [5]:
#load reviews dataset
review_cols = ['list_id', 'review_title', 'review_date', 'review_rating',
               'review_text', 'review_is_mobile', 'time_accessed', 'review_username']
reviews = pd.read_csv('./tripadvisor_selenium/saved_data_versions/version_20180804_0900/reviews.csv',
                    delimiter='|', names=review_cols, header=None)
print(len(reviews))
reviews.head()

417

,list_id,review_title,review_date,review_stars,review_text,review_is_mobile,time_accessed,review_username
0,g60763d267031,Good views..,"August 2, 2018",ui_bubble_rating bubble_40,We loved this especially during twilight. Its ...,False,2018-08-03 11:39:58.651877,KKS81
1,g60763d267031,Beautiful Views!,"August 2, 2018",ui_bubble_rating bubble_50,Got to see the skyline from all sides. My hote...,False,2018-08-03 11:40:00.602729,JenJen1865
2,g60763d267031,Several ways to see and I have done them all!,"August 2, 2018",ui_bubble_rating bubble_50,You will really need to see the Manhattan skyl...,False,2018-08-03 11:40:01.644238,nyc15
3,g60763d267031,"Fascinating , Vibrant, Good to See the Buildings","August 2, 2018",ui_bubble_rating bubble_40,"Its Colorful, mesmerizing experience, Good vie...",False,2018-08-03 11:40:02.688514,932ravia
4,g60763d267031,Cool city for sure,"August 1, 2018",ui_bubble_rating bubble_30,Check out the view of the city from the New Je...,False,2018-08-03 11:40:03.730003,JDTravelCanada

In [46]:
#turn the stars into int values
reviews.review_stars = reviews.review_stars.apply(lambda x: int(x[-2:]))
reviews.head()

,list_id,review_title,review_date,review_stars,review_text,review_is_mobile,time_accessed,review_username
0,g60763d267031,Good views..,2018-08-02,40,We loved this especially during twilight. Its ...,False,2018-08-03 11:39:58.651877,KKS81
1,g60763d267031,Beautiful Views!,2018-08-02,50,Got to see the skyline from all sides. My hote...,False,2018-08-03 11:40:00.602729,JenJen1865
2,g60763d267031,Several ways to see and I have done them all!,2018-08-02,50,You will really need to see the Manhattan skyl...,False,2018-08-03 11:40:01.644238,nyc15
3,g60763d267031,"Fascinating , Vibrant, Good to See the Buildings",2018-08-02,40,"Its Colorful, mesmerizing experience, Good vie...",False,2018-08-03 11:40:02.688514,932ravia
4,g60763d267031,Cool city for sure,2018-08-01,30,Check out the view of the city from the New Je...,False,2018-08-03 11:40:03.730003,JDTravelCanada

In [43]:
#convert date text to datetimes
reviews.review_date = pd.to_datetime(reviews.review_date)
reviews.head()

,list_id,review_title,review_date,review_stars,review_text,review_is_mobile,time_accessed,review_username
0,g60763d267031,Good views..,2018-08-02,ui_bubble_rating bubble_40,We loved this especially during twilight. Its ...,False,2018-08-03 11:39:58.651877,KKS81
1,g60763d267031,Beautiful Views!,2018-08-02,ui_bubble_rating bubble_50,Got to see the skyline from all sides. My hote...,False,2018-08-03 11:40:00.602729,JenJen1865
2,g60763d267031,Several ways to see and I have done them all!,2018-08-02,ui_bubble_rating bubble_50,You will really need to see the Manhattan skyl...,False,2018-08-03 11:40:01.644238,nyc15
3,g60763d267031,"Fascinating , Vibrant, Good to See the Buildings",2018-08-02,ui_bubble_rating bubble_40,"Its Colorful, mesmerizing experience, Good vie...",False,2018-08-03 11:40:02.688514,932ravia
4,g60763d267031,Cool city for sure,2018-08-01,ui_bubble_rating bubble_30,Check out the view of the city from the New Je...,False,2018-08-03 11:40:03.730003,JDTravelCanada

In [4]:
#load user dataset
user_cols = ['reviewer_username', 'reviewer_demos', 'review_hist',
             'helpvotes', 'n_cities_visited', 'tags', 'time_accessed']
users = pd.read_csv('./tripadvisor_selenium/saved_data_versions/version_20180804_0900/users.csv',
                    delimiter='|', names=user_cols, header=None)
print(len(users))
users.head()

417

,reviewer_username,reviewer_demos,review_hist,helpvotes,n_cities_visited,tags,time_accessed
0,KKS81,TripAdvisor member since 2015;25-34 man from B...,4;40;9;1;1,11 Helpful votes,17 Cities visited,Vegetarian;Nature Lover;Peace and Quiet Seeker...,2018-08-03 11:40:00.424037
1,JenJen1865,"TripAdvisor member since 2014;From Corona, Uni...",265;33;9;0;0,52 Helpful votes,225 Cities visited,Art and Architecture Lover;Foodie;Urban Explor...,2018-08-03 11:40:01.458168
2,nyc15,"TripAdvisor member since 2012;From Alamo, Tenn...",41;4;3;0;0,9 Helpful votes,8 Cities visited,Urban Explorer;History Buff;Family Vacationer,2018-08-03 11:40:02.507105
3,932ravia,TripAdvisor member since 2010;Man from New Del...,3;20;24;3;3,4 Helpful votes,24 Cities visited,Vegetarian;Peace and Quiet Seeker;Luxury Traveler,2018-08-03 11:40:03.559423
4,JDTravelCanada,TripAdvisor member since 2009;From Canada,20;167;322;17;1,207 Helpful votes,123 Cities visited,Foodie;Thrill Seeker;Nature Lover;Eco-tourist,2018-08-03 11:40:04.605897

In [60]:
raw_demos = users.reviewer_demos[0]
raw_demos_split = raw_demos.split(';')
filter(lambda x: re.search('TripAdvisor member since', x) != None, raw_demos_split)

In [61]:
#re.sub('.*since ', '', raw_demos)
re.search('\d')

'2015;25-34 man from Brisbane Region, Australia'

In [57]:
users.reviewer_demos

0      TripAdvisor member since 2015;25-34 man from B...
1      TripAdvisor member since 2014;From Corona, Uni...
2      TripAdvisor member since 2012;From Alamo, Tenn...
3      TripAdvisor member since 2010;Man from New Del...
4              TripAdvisor member since 2009;From Canada
5      TripAdvisor member since 2015;From Fairfield, ...
6       TripAdvisor member since 2014;From Mumbai, India
7      TripAdvisor member since 2016;From Daytona Bea...
8      TripAdvisor member since 2013;50-64 from Brisb...
9      TripAdvisor member since 2006;50-64 woman from...
10     TripAdvisor member since 2016;From Gardendale,...
11     TripAdvisor member since 2016;Man from Bengalu...
12                         TripAdvisor member since 2018
13     TripAdvisor member since 2015;From London, Uni...
14     TripAdvisor member since 2011;From Kailua Kona...
15     TripAdvisor member since 2008;65+ man from Har...
16        TripAdvisor member since 2010;Man from Ireland
17     TripAdvisor member since 2017;From LAKE CHARLE...
18     TripAdvisor member since 2011;25-34 man from B...
19                         TripAdvisor member since 2008
20     TripAdvisor member since 2017;From Munich, Ger...
21     TripAdvisor member since 2018;From New York Ci...
22     TripAdvisor member since 2012;Man from Sydney,...
23     TripAdvisor member since 2011;35-49 man from N...
24     TripAdvisor member since 2012;50-64 woman from...
25     TripAdvisor member since 2018;From Edmonton, C...
26     TripAdvisor member since 2010;From Cuenca, Ecu...
27     TripAdvisor member since 2014;50-64 man from S...
28     TripAdvisor member since 2016;Woman from Krist...
29      TripAdvisor member since 2009;From Dallas, Texas
                             ...
387    TripAdvisor member since 2016;From Little Rock...
388                        TripAdvisor member since 2018
389    TripAdvisor member since 2018;Man from Austin,...
390    TripAdvisor member since 2008;50-64 man from L...
391                        TripAdvisor member since 2017
392                        TripAdvisor member since 2017
393                        TripAdvisor member since 2018
394        TripAdvisor member since 2016;From Manchester
395    TripAdvisor member since 2018;From Cincinnati,...
396    TripAdvisor member since 2017;From Port of Spa...
397                        TripAdvisor member since 2010
398                        TripAdvisor member since 2018
399         TripAdvisor member since 2011;From Baltimore
400    TripAdvisor member since 2012;From Nairobi, Kenya
401    TripAdvisor member since 2004;50-64 woman from...
402    TripAdvisor member since 2013;From Orlando, Fl...
403    TripAdvisor member since 2015;35-49 woman from...
404    TripAdvisor member since 2015;From Wellington,...
405    TripAdvisor member since 2012;From Landsmeer, ...
406                        TripAdvisor member since 2018
407    TripAdvisor member since 2013;35-49 man from L...
408                        TripAdvisor member since 2018
409    TripAdvisor member since 2014;Woman from Unite...
410    TripAdvisor member since 2008;35-49 woman from...
411    TripAdvisor member since 2010;From Boston, Mas...
412                        TripAdvisor member since 2012
413                        TripAdvisor member since 2016
414    TripAdvisor member since 2016;From Ankara, Turkey
415    TripAdvisor member since 2013;Woman from New Y...
416    TripAdvisor member since 2013;50-64 man from b...
Name: reviewer_demos, Length: 417, dtype: object