In [1]:
import pandas as pd

In [15]:
#load listing dataset
listings_cols = ['list_id', 'list_rating', 'list_review_n', 'list_loc', 'time_accessed']
listings = pd.read_csv('./tripadvisor_selenium/saved_data_versions/version_20180803_1100/listings.csv',
            delimiter='|', names=listings_cols, header=None)
listings

,list_id,list_rating,list_review_n,list_loc,time_accessed
0,g60763d267031,5 of 5 bubbles,"18,666 Reviews",Midtown,2018-08-03 11:39:58.033622
1,g60763d105127,4.5 of 5 bubbles,"117,356 Reviews","Manhattan Borough, from Central Park West to 5...",2018-08-03 11:41:47.734294
2,g60763d105125,5 of 5 bubbles,"49,264 Reviews",1000 5th Ave,2018-08-03 11:43:38.020506
3,g60763d1687489,4.5 of 5 bubbles,"81,419 Reviews",World Trade Center,2018-08-03 11:46:31.316344
4,g60763d102741,4.5 of 5 bubbles,"18,235 Reviews",Financial District,2018-08-03 11:48:18.505299
5,g60763d587661,4.5 of 5 bubbles,"70,745 Reviews","Enter on West 50th Street, between 5th & 6th A...",2018-08-03 11:53:01.830486
6,g60763d136053,4.5 of 5 bubbles,"11,693 Reviews",460 Madison Ave,2018-08-03 12:02:17.478323
7,g60763d143361,4.5 of 5 bubbles,"26,670 Reviews",Midtown,2018-08-03 12:04:39.998887
8,g60763d136347,4.5 of 5 bubbles,"20,155 Reviews",between 40th and 42nd Streets & Fifth and Sixt...,2018-08-03 12:17:20.724268

In [18]:
#load user dataset
user_cols = ['reviewer_username', 'reviewer_demos', 'review_hist',
             'helpvotes', 'n_cities_visited', 'tags', 'time_accessed']
users = pd.read_csv('./tripadvisor_selenium/saved_data_versions/version_20180803_1100/users.csv',
                    delimiter='|', names=user_cols, header=None)
print(len(users))
users.head()

417

,reviewer_username,reviewer_demos,review_hist,helpvotes,n_cities_visited,tags,time_accessed
0,KKS81,TripAdvisor member since 2015;25-34 man from B...,4;40;9;1;1,11 Helpful votes,17 Cities visited,Vegetarian;Nature Lover;Peace and Quiet Seeker...,2018-08-03 11:40:00.424037
1,JenJen1865,"TripAdvisor member since 2014;From Corona, Uni...",265;33;9;0;0,52 Helpful votes,225 Cities visited,Art and Architecture Lover;Foodie;Urban Explor...,2018-08-03 11:40:01.458168
2,nyc15,"TripAdvisor member since 2012;From Alamo, Tenn...",41;4;3;0;0,9 Helpful votes,8 Cities visited,Urban Explorer;History Buff;Family Vacationer,2018-08-03 11:40:02.507105
3,932ravia,TripAdvisor member since 2010;Man from New Del...,3;20;24;3;3,4 Helpful votes,24 Cities visited,Vegetarian;Peace and Quiet Seeker;Luxury Traveler,2018-08-03 11:40:03.559423
4,JDTravelCanada,TripAdvisor member since 2009;From Canada,20;167;322;17;1,207 Helpful votes,123 Cities visited,Foodie;Thrill Seeker;Nature Lover;Eco-tourist,2018-08-03 11:40:04.605897

In [24]:
review_cols = ['list_id', 'review_title', 'review_date', 'review_stars',
               'review_text', 'review_is_mobile', 'time_accessed']
reviews = pd.read_csv('./tripadvisor_selenium/saved_data_versions/version_20180803_1100/reviews.csv',
                    delimiter='|', names=review_cols, header=None)
print(len(reviews))
reviews.head()

417

,list_id,review_title,review_date,review_stars,review_text,review_is_mobile,time_accessed
g60763d267031,Good views..,"August 2, 2018",ui_bubble_rating bubble_40,We loved this especially during twilight. Its ...,False,2018-08-03 11:39:58.651877,KKS81
g60763d267031,Beautiful Views!,"August 2, 2018",ui_bubble_rating bubble_50,Got to see the skyline from all sides. My hote...,False,2018-08-03 11:40:00.602729,JenJen1865
g60763d267031,Several ways to see and I have done them all!,"August 2, 2018",ui_bubble_rating bubble_50,You will really need to see the Manhattan skyl...,False,2018-08-03 11:40:01.644238,nyc15
g60763d267031,"Fascinating , Vibrant, Good to See the Buildings","August 2, 2018",ui_bubble_rating bubble_40,"Its Colorful, mesmerizing experience, Good vie...",False,2018-08-03 11:40:02.688514,932ravia
g60763d267031,Cool city for sure,"August 1, 2018",ui_bubble_rating bubble_30,Check out the view of the city from the New Je...,False,2018-08-03 11:40:03.730003,JDTravelCanada

In [23]:
users.time_accessed.apply(['min', 'max'])

min    2018-08-03 11:40:00.424037
max    2018-08-03 12:21:04.933366
Name: time_accessed, dtype: object